<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">
<configuration scan="false" scanPeriod="1800 seconds" debug="false">
	<property name="USER_HOME" value="logs" />
	<property scope="context" name="FILE_NAME" value="logback" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${USER_HOME}/${FILE_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${USER_HOME}/%d{yyyy-MM-dd, aux}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
	        <!-- each file should be at most 20MB, keep 10000 days worth of history, but at most 200GB -->
	        <maxFileSize>20MB</maxFileSize>    
	        <maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.ozz" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
<!-- 		<appender-ref ref="file" /> -->
	</logger>
	<root level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
<!-- 		<appender-ref ref="file" /> -->
	</root>
</configuration>
